@import '~antd/dist/antd.css';

.digital{
    width:100%;
    .digital-t{
        border-bottom:1px solid #CCCCCC;
        background: #fff;
        h3{
            font-size: 30px;
            color: #353535;
            padding: 50px 0;
            margin-bottom:30px;
            font-family: "FZYaoti";
        }
    }
    .digital-body{
        .digital-info{
            background: #f3f5f8;
            border-bottom:1px solid #CCCCCC;
            position: relative;
            overflow: hidden;
        }
        .info-left, .info-right{
            margin:20px 0;
        }
        .time-up{
            font-size: 18px;
            line-height: 30px;
        }
        .sensorid-t{
            font-size: 20px;
            margin-right:10px;
            margin-top:2px;
        }
        .selectID{
            display: inline-block;
            width:80px;
        }
        .battery-img{
            margin-left:10px;
            margin-top:-5px;
            width:48px;
            height: 24px;
            line-height: 32px;
        }
        .digital-nums{
            background: url(../Images/bg.jpg) no-repeat center center/cover;
            border-bottom: 1px solid #eee;
            //background-attachment: fixed;
            clear: both;
            padding:30px 0;
            color:#000;
            overflow: hidden;
            li{
                height: 210px;
                position: relative;
                .num-value{
                    font-family: 'Raleway', sans-serif;
                    line-height: 170px;
                    font-size: 70px;
                    text-align: center;
                    letter-spacing: 5px;
                }
                .num-t{
                    font-family: 'FZYaoti';
                    font-size:20px;
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    bottom:20px;
                }
            }
        }
        .digital-charts{
            clear: both;
            overflow: hidden;
            padding-top:30px;
            background: #fcfcff;
        }
    }

}